
    - name: Add Helm repo for Argo CD
      community.kubernetes.helm_repository:
        name: argo
        repo_url: https://argoproj.github.io/argo-helm
        state: present

    - name: Install or upgrade Argo CD via Helm
      community.kubernetes.helm:
        name: argocd
        chart_ref: argo/argo-cd
        release_namespace: argocd
        create_namespace: true
        values:
          global:
            domain: argocd.example.azure.southindia.com
          server:
            service:
              type: ClusterIP  # Don't use LoadBalancer
            ingress:
              enabled: true
              ingressClassName: nginx
              hosts:
                - host: argocd.example.azure.southindia.com
                  paths:
                    - path: /
                      pathType: Prefix
              annotations:
                kubernetes.io/ingress.class: nginx
                nginx.ingress.kubernetes.io/rewrite-target: /
        state: present
